<div class="notification is-info" style="margin-top: 30px;">
    <i class="fas fa-snowplow"></i>&nbsp;&nbsp;Support for GCP DICOMweb is experimental at this time.
</div>                        

<div class="field" style="margin-top: 30px;">
    <label class="label">Project ID</label>
    <div class="control">
        <input name="project_id" class="input" required='true' autocomplete='off' type="text"
            placeholder="Project ID" value="{{targets[edittarget].project_id}}"
            size="15">
    </div>
</div>
 <div class="field">
    <label class="label">Location ID</label>
    <div class="control">
        <input name="location" class="input" required='true' autocomplete='off' placeholder="asia-south1"
           value="{{targets[edittarget].location if targets[edittarget].location else ''}}">
    </div>
</div>
<div class="field">
    <label class="label">Dataset ID</label>
    <div class="control">
        <input name="dataset_id" class="input" required='true' autocomplete='off' placeholder="dataset_id"
           value="{{targets[edittarget].dataset_id if targets[edittarget].dataset_id else ''}}">
    </div>
</div>
<div class="field">
    <label class="label">Dicom Store ID</label>
    <div class="control">
        <input name="dicom_store_id" class="input" required='true' autocomplete='off' placeholder="Dicom Store"
           value="{{targets[edittarget].dicom_store_id if targets[edittarget].dicom_store_id else ''}}">
    </div>
</div>
